root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.{xml, config}]
indent_style = space
indent_size = 2

[*.{js, jsx, ts, tsx}]
indent_style = space
indent_size = 2
quote_type = double
indent_brace_style = K&R
curly_bracket_next_line = false

[*.cs]
indent_style = space
indent_size = 2
tab_width = 2
resharper_arrange_trailing_comma_in_multiline_lists_highlighting = warning
resharper_enforce_do_while_statement_braces_highlighting = error
resharper_enforce_fixed_statement_braces_highlighting = error
resharper_enforce_foreach_statement_braces_highlighting = error
resharper_enforce_for_statement_braces_highlighting = error
resharper_enforce_if_statement_braces_highlighting = error
resharper_enforce_lock_statement_braces_highlighting = error
resharper_enforce_using_statement_braces_highlighting = error
resharper_enforce_while_statement_braces_highlighting = error
resharper_space_within_single_line_array_initializer_braces = true
resharper_trailing_comma_in_multiline_lists = true
resharper_csharp_indent_size = 2
resharper_csharp_tab_width = 2
dotnet_sort_system_directives_first = true
csharp_space_after_cast = true
csharp_prefer_braces = true:none
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_open_brace = none

resharper_align_multiline_parameter = true
resharper_autodetect_indent_settings = true
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_around_auto_property = 0
resharper_csharp_blank_lines_around_field = 0
resharper_enforce_line_ending_style = true
resharper_place_accessorholder_attribute_on_same_line = false
resharper_use_indent_from_vs = false
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required
resharper_braces_for_while = required
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_around_single_line_auto_property = 0
resharper_blank_lines_around_single_line_property = 0
resharper_csharp_blank_lines_around_single_line_invocable = 1
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_keep_blank_lines_in_declarations = 1

[{*.htm, *.html, *.sht, *.shtm, *.shtml}]
ij_html_space_inside_empty_tag = false

[*.{appxmanifest, build, dtd, fs, fsi, fsscript, fsx, ml, mli, nuspec, resw, resx, vb, xaml, xamlx, xoml, xsd}]
indent_style = space
indent_size = 2
tab_width = 2

[*.{asax, ascx, aspx, cshtml, master, razor, skin}]
indent_style = space
indent_size = 2
tab_width = 2

[{*.cql, *.ddl, *.sql}]
indent_style = space
indent_size = 2
